<!DOCTYPE html>
<html lang="en" ng-app="audio-samples">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>&darr; SOUNDS RIGHT HERE</title>
	<meta name="description" 
		content="Sounds Right Here is a search engine for free, public domain audio clips.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
	<link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css">
	<link rel="stylesheet" href="style.css">
	<script src="bower_components/modernizr/modernizr.js"></script>
	<base href="/audio-samples/">
</head>

<body ng-view ng-class="{results: (0 <= data.count)}">

	<header class="page-header">
		<h1><a href="."><img src="img/SoundsRightHere_logo.png" alt="Sounds right here"></a></h1>
		<pre class="fig-ansi">
███████  ██████  ██    ██ ███    ██ ██████  ███████     ██████  ██  ██████  ██   ██ ████████     ██   ██ ███████ ██████  ███████
██      ██    ██ ██    ██ ████   ██ ██   ██ ██          ██   ██ ██ ██       ██   ██    ██        ██   ██ ██      ██   ██ ██
███████ ██    ██ ██    ██ ██ ██  ██ ██   ██ ███████     ██████  ██ ██   ███ ███████    ██        ███████ █████   ██████  █████
	   ██ ██    ██ ██    ██ ██  ██ ██ ██   ██      ██     ██   ██ ██ ██    ██ ██   ██    ██        ██   ██ ██      ██   ██ ██
███████  ██████   ██████  ██   ████ ██████  ███████     ██   ██ ██  ██████  ██   ██    ██        ██   ██ ███████ ██   ██ ███████
		</pre>
		<a class="creators" href="http://artsdigital.co">
			<img src="img/ArtsDigital_logo.png" alt="Created by ArtsDigital">
		</a>
	</header>
	
	<!--[if lt IE 8]>
	<main class="container">
		<p class="browsehappy">Your web browser <strong>sucks</strong>. 
		Please <a href="http://browsehappy.com/">upgrade</a> it, now. 
		Your local programmer will thank you.</p>
	</main>
	<![endif]-->
	
	<main class="sound-search container fade" ng-show="fetched"
		ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
		
		<form class="search" ng-submit="searchText()">
			<input type="text" size="30" ng-model="text" ng-model-options="{ getterSetter: true }" />
			<button type="submit">Search</button>
		</form>

		<h2 class="results-count" ng-if="0 <= data.count">
			Total results found: {{data.count | numberWithCommas}}
		</h2>

		<ul class="song-list"><li ng-repeat="sound in data.results track by $index">

			<h3>{{data.start + $index}}. {{sound.name | noExtension}}</h3>

			<div class="player" ng-class="{
				vol1: (sound.audio.volume > 0),
				vol2: (sound.audio.volume > 0.333),
				vol3: (sound.audio.volume > 0.667),
				vol4: (sound.audio.volume == 1)}">
				<button ng-click="play()" class="pause-play paused"
					ng-class="{paused: isPaused(sound)}">Play/Pause</button>
				<input type="range" min="0" max="1" step="0.01" class="progress"
					ng-model="sound.audio.progress">
				<span class="time">{{sound.audio.remaining | asMinutes}}</span>
				<span class="volume-icon"></span>
				<input type=range min=0 max=1 step=0.01 class="volume"
					ng-model="sound.audio.volume">
				</input>
			</div>

			<a href="{{sound.previews['preview-hq-mp3'] | trusted}}"
				download="{{sound.name}}" class="download">
				<span class="arrow">&darr;</span>mp3
			</a>
			<a href="{{sound.previews['preview-hq-ogg'] | trusted}}" 
				download="{{sound.name}}" class="download">
				<span class="arrow">&darr;</span>ogg
			</a>

			<dl>
				<dt>Contributed by:</dt>
				<dd><a href="{{sound.url}}">{{sound.username}}</a></dd>
				<br>
				<dt>Tags:</dt>
				<dd ng-repeat="tag in sound.tags">
					<button ng-click="searchText(tag)" class="tag">{{tag}}</button>
				</dd>
			</dl>

		</li></ul>
		<nav class="result-links">
			<div class="inner">
				<button ng-if="data.previous" class="previous"
					ng-click="goToPage(data.thisPage - 1)"><< Previous</button>
				<dir ng-if="data.count" class="nav-numbers" 
					content="navNumbers()"></dir>
				<button ng-if="data.next" class="next" ng-click="goToPage(data.thisPage + 1)">
					Next >></button>
			</div>
		</nav>
		
	</main>
	
	<footer class="page-footer">
		<section class="about container">
	  	<p><em><strong>Sounds Right Here</strong> is a search engine for free, public domain audio clips. Start by entering your search term in the field above. Currently, the results come from <a href="http://freesound.org">freesound.org</a>, and we are working on adding more sources soon. If you are interested in this project, you can <a href="#">contact us</a> with your thoughts, or <a href="#">sign up</a> for email updates.</em></p>
	  </section>
	</footer>

	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
	<script src="bower_components/angular-audio/app/angular.audio.js"></script>
	<script src="bower_components/underscore/underscore-min.js"></script>
	<script src="search.js"></script>
	
</body>
</html>
