/* Font Stack ****************************************/

body, p {
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
h1 {
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	font-size: 26px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	letter-spacing: 1px;
}
h2 {
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}
h3 {
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
}
blockquote {
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}
pre {
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
}

/*****************************************************/

body {
	background: #F7FE2E;
}

header {
	
}

.fig-ansi {
	font-size: 8px;
	font-family: "Courier New", Monospace;
	white-space: pre;
	margin: 20px;
	width: 620px;
	color: red;
	text-shadow: 5px 5px 0px rgba(0, 0, 0, 1);
}

h1 {
	display: none;
}

.container {
	width: 600px;
	padding: 0 20px;
}

li {
	border-bottom: 2px dashed #000;
}

dt, dd {
	display: inline-block;
	margin: 5px 10px 0 0;
}

nav {
	margin-bottom: 20px;
}

nav button:last-of-type {
	float: right;
}

footer {
	clear: both;
	margin: 20px 0;
}

@media all and (min-width: 900px) {
    .fig-ansi {
        width: 900px;
        font-size: 11px;
    }
}
