<main class="sound-search container">
	
	<form class="search" ng-submit="searchText()">
		<input type="text" size="30" ng-model="text" ng-model-options="{ getterSetter: true }" 
			placeholder="Enter a search term" />
		<button type="submit">Search</button>
	</form>
	
	<h2 class="results-count" ng-if="0 <= data.count" ng-class="{fade: fetched}">
		Total results found: {{data.count | numberWithCommas}}
	</h2>

	<ul class="song-list"><li ng-repeat="sound in data.results track by $index" class="fade">

		<h3>{{data.start + $index}}. {{sound.name | noExtension}}</h3>

		<div class="player" ng-class="{
			vol1: (sound.audio.volume > 0),
			vol2: (sound.audio.volume > 0.333),
			vol3: (sound.audio.volume > 0.667),
			vol4: (sound.audio.volume == 1)}">
			<button ng-click="play()" class="pause-play paused"
				ng-class="{paused: sound.audio.paused}">Play/Pause</button>
			<input type="range" min="0" max="{{sound.audio.duration}}" step="0.01" class="progress"
				ng-model="sound.currentTime" ng-model-options="{ getterSetter: true }">
			<span class="time">{{sound.remaining()}}</span>
			<span class="volume-icon"></span>
			<input type=range min=0 max=1 step=0.01 class="volume"
				ng-model="sound.volume" ng-model-options="{ getterSetter: true }">
			</input>
		</div>

		<a href="{{sound.previews['preview-hq-mp3'] | trusted}}"
			download="{{sound.name}}" class="download">
			<span class="arrow">&darr;</span>mp3
		</a>
		<a href="{{sound.previews['preview-hq-ogg'] | trusted}}" 
			download="{{sound.name}}" class="download">
			<span class="arrow">&darr;</span>ogg
		</a>

		<dl>
			<dt>Contributed by:</dt>
			<dd><a href="{{sound.url}}">{{sound.username}}</a></dd>
			<br>
			<dt>Tags:</dt>
			<dd ng-repeat="tag in sound.tags">
				<button ng-click="searchText(tag)" class="tag">{{tag}}</button>
			</dd>
		</dl>

	</li></ul>
	<nav class="result-links">
		<div class="inner">
			<button ng-if="data.previous" class="previous"
				ng-click="goToPage(data.thisPage - 1)"><< Previous</button>
			<dir ng-if="data.count" class="nav-numbers" 
				content="navNumbers()"></dir>
			<button ng-if="data.next" class="next" ng-click="goToPage(data.thisPage + 1)">
				Next >></button>
		</div>
	</nav>
	
</main>

<footer class="page-footer">
	<div class="about container">
  	<p><em><strong>Sounds Right Here</strong> is a search engine for free, public domain audio clips. The results come from <a href="http://freesound.org">freesound.org</a>, and we are working on adding more sources soon. If you are interested in this project, you can <a href="http://artsdigital.co/sounds-right-here-a-minimalist-search-interface-for-audio-samples/">read more</a> about it, give us <a href="contact">feedback</a>, or <a href="http://artsdigital.co/sounds-right-here-a-minimalist-search-interface-for-audio-samples#signup">sign up</a> for email updates.</em></p>
  </div>
</footer>

